:root{
    --white-color: #FFFFFF;
    --light-color: #f8f9fa;
    --gray-50-color: #f7f5f5;
    --gray-100-color: #FAFAFA;
    --gray-200-color: #EFEFEF;
    --gray-300-color: #F5F5F5;
    --gray-400-color: #C6C6C6;
    --gray-500-color: #ffffffb3;
    --gray-600-color: #6c757d;
    --dark-100-color: #343a40;
    --dark-200-color: #000000;
    --danger-color: #dc3545;
    --red-color: #ED1C24;
    --pink-color: #e83e8c;
    --green-100-color: #00FF15;
    --teal-color: #20c997;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --orange-100-color: #fd7e14;
    --orange-200-color: #C76833;
    --primary-color: #007bff;
    --indigo-color: #6610f2;
    --purple-color: #6f42c1;
    --warning-color: #ffc107;
}
