.form-login__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  background: var(--white-color);
  box-shadow: 0 0 10px rgb(204 204 204 / 30%);

  .banner-login {
    background: #f4f5f6 url(../../../assets/images/banner_login.jpg) no-repeat
      top;
    padding: 23.125rem 1.25rem 1.875rem;

    &__title {
      font-weight: 500;
      margin-bottom: 0.625rem;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.375rem;
      color: var(--dark-50-color);
    }

    &__content {
      p {
        margin-bottom: 0.5rem;
        margin-top: 0 !important;
        position: relative;
        padding-left: 1.375rem;
        font-size: 0.8125rem;
        line-height: 1.3;

        &::after {
          content: "";
          height: 0.9375rem;
          width: 0.9375rem;
          background-image: url(../../../assets/icons/check_done_icon.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          position: absolute;
        }
      }
    }
  }
}

.form-login {
  &__break-line {
    max-width: 100%;
    margin: 0 auto 1.25rem;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 0.0625rem;
      background: var(--gray-900-color);
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0.625rem;
    }

    span {
      display: inline-block;
      font-size: 0.8125rem;
      color: var(--gray-450-color);
      padding: 0.0625rem 0.625rem;
      -webkit-border-radius: 0.9375rem;
      -moz-border-radius: 0.9375rem;
      border-radius: 0.9375rem;
      border: 0.0625rem solid var(--gray-900-color);
      background-color: var(--white-color);
      position: relative;
      z-index: 1;
    }
  }

  &__social {
    &-list {
      display: flex;
      justify-content: center;
      padding-bottom: 1.25rem;
      gap: 1.5rem;
    }

    &-item {
      a {
        display: inline-block;
        min-width: 8.75rem;

        img {
          border: 0 none;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.grid__column-6 {
  padding: 0;
}
