.sidebar {
  &__menu {
    &-wrap {
      height: 100vh;
      overflow-y: auto;
      width: 340px;
      position: fixed;
      background-color: #1e1e1e;
      z-index: 999999 !important;
      top: 0 !important;
      left: 0;
      transform: translateX(-100%);
      visibility: hidden;
      transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
        visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      box-shadow: none;
      touch-action: manipulation;
      padding: 10px 0;
    }

    &-list {
      padding: 0 10px;

    }

    &-close {
      position: absolute;
      margin-left: 0;
      right: 5px;
      top: 5px;
      line-height: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      -webkit-appearance: button;
      cursor: pointer;
      border-radius: 0;
      z-index: 999;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

      &:hover {
        transform: translate(0%, 0%) rotate(360deg);
      }

      &-icon {}
    }

    &-overlay {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0 !important;
      right: 0;
      bottom: 0;
      background-color: #363636;
      z-index: 999;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  }
}

.sidebar__menu-wrap.active {
  visibility: visible;
  transform: translateX(0);
}

.sidebar__menu-item.active a {
  color: var(--orange-200-color);
}

.sidebar__menu-overlay.active {
  visibility: visible;
  opacity: 0.5;
}
