$slide-width: 75px;

.carousel__slide-item {
  display: contents;
  height: $slide-width;
  margin: 0;
  position: absolute;
  transition: all 0.3s;
  width: $slide-width;
  margin: 5px 0;
}

.carousel__slide-item-img-link {
  display: flex;
  height: 73px;
  width: 72px;
  overflow: hidden;
  position: relative;
  border: 1px solid #e6e6e6;
  margin: 5px;
  border-radius: 3px;

  img {
    height: auto;
    max-width: 100%;
    width: 100% !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 3px;
  }

  //   &::after {
  //     align-items: center;
  //     background: rgba(black, 0.5);
  //     color: white;
  //     content: "read more";
  //     display: flex;
  //     height: 100%;
  //     justify-content: center;
  //     opacity: 0;
  //     position: absolute;
  //     transition: all 0.5s ease;
  //     width: 100%;
  //   }

  //   &:hover {
  //     &::after {
  //       opacity: 1;
  //     }

  //     img {
  //       transform: scale(1.3);
  //     }
  //   }
}
